:root {
  --swiper-theme-color: #4285f4;
}

.swiper-pagination {
  position: relative;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
